---
import CardTall from '@components/Cards/Tall.astro';
import Root from '@layouts/Root.astro';
import { getCollection } from 'astro:content';

const entrys = (await getCollection('blog')).sort(
  (a, b) => b.data.created.valueOf() - a.data.created.valueOf()
);
---

<Root
  title='Descubre mucho más de mi contenido - blog'
  description='Soy Jeferson Barrero y hablo de tecnología, programación y experiencias personales'
>
  <main class='hero'>
    <div class='mt-24 mb-12 py-8'>
      <h1 class='font-bold text-4xl'>Todas las publicaciones</h1>
    </div>
    <div class='grid lg:grid-cols-3 sm:grid-cols-2 gap-6 md:gap-10'>
      {
        entrys.map((entry, i) => (
          <CardTall {...entry} feactured={i == 0 ? true : false} />
        ))
      }
    </div>
  </main>
</Root>
