---
import Intro from "@/components/partials/Intro.astro";
import Layout from "@/layouts/Layout.astro";
import Clients from "../partials/Clients.astro";
import Education from "../partials/Education.astro";
import Experience from "../partials/Experience.astro";
import Projects from "../partials/Projects.astro";
import AboutMe from "../partials/AboutMe.astro";

const { props } = Astro;
---

<Layout title={props.title}>
  <main class="relative">
    <div
      class="fixed inset-0 -z-10 size-full [background:radial-gradient(125%_125%_at_50%_10%,transparent_40%,#63e_100%)]"
    >
    </div>

    <Intro />
    <AboutMe />
    <Experience />
    <Education />
    <Projects />
    <Clients />
  </main>
</Layout>

<!-- <script>
  document.addEventListener("astro:page-load", function () {
    const sections = document.querySelectorAll("section");
    const title = document.querySelectorAll("section h2");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          title.forEach((item) => {
            if (item.getAttribute("aria-label") === entry.target.id) {
              item.classList.add("sticky");
            } else {
              item.classList.remove("sticky");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.5,
    });

    sections.forEach((element) => {
      observer.observe(element);
    });

    // Cleanup function
    window.onunload = () => {
      observer.disconnect();
    };
  });
</script> -->
