---
import Intro from "@/components/partials/Intro.astro";
import Layout from "@/layouts/Layout.astro";
import AboutMe from "../partials/AboutMe.astro";
import Education from "../partials/Education.astro";
import Experience from "../partials/Experience.astro";
import Projects from "../partials/Projects.astro";
import Link from "../Link.astro";
import { getI18n } from "@/i18n";

const { props, currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<Layout title={props.title}>
  <div
    class="absolute inset-0 w-full h-dvh bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,#3d3720,rgba(255,255,255,0))]"
  >
  </div>

  <main>
    <Intro />
    <AboutMe />
    <Experience />
    <Education />
    <Projects />

    <div class="h-[400px] relative">
      <div
        class="absolute -z-[1] md:max-w-3xl mx-auto inset-0 bg-orange-400 bg-[size:20px_20px] opacity-20 blur-[100px]"
      >
      </div>

      <div class="hero grid place-content-center text-center size-full z-10">
        <p class="text-2xl font-semibold max-w-xl mx-auto font-mono">
          {i18n.SERVICES_MSG}
        </p>
        <Link href="/services" class="mx-auto mt-12">
          {i18n.SERVICES_BUTTON}
        </Link>
      </div>
    </div>
  </main>
</Layout>
