---
import TimeFormat from '../TimeFormat.astro';

type Props = {
  slug: string;
  title: string;
  created: Date;
  tags: string[];
};

const { slug, created, title } = Astro.props;
---

<a href={`/blog/p/${slug}`}>
  <div class='flex flex-col pl-3'>
    <TimeFormat class='opacity-70 font-mono' date={created} />
    <p class='text-lg leading-4'>{title}</p>
  </div>
</a>
