---
import PageMDX from '@/layouts/PageMDX.astro';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';

const aboutContent = await getEntry('pages', 'about');
const { Content, headings } = await aboutContent?.render();
---

<PageMDX {...aboutContent} {headings}>
  <div slot='heading' class='grid place-content-center min-h-[500px]'>
    <div class='max-w-xl text-center flex flex-col items-center justify-center'>
      <Image src='/logo.svg' width={300} height={100} alt='jeffercbs' />
      <h2 class='text-lg opacity-80'>
        <span class='underline decoration-amber-600 decoration-8'>
          Software Enginer
        </span> | Fitness | Young web developer | Technology enthusiast |
        @platzi student | content creator | occasional writer.
      </h2>
    </div>
  </div>
  <!-- Content -->
  <Content />
</PageMDX>

<style>
  .heading {
    @apply relative h-[500px] bg-black bg-[url('/programador.jpg')] bg-cover bg-right bg-no-repeat;
    background-size: 60%;
  }
  .heading::after {
    content: '';
    @apply absolute inset-0 z-0;
    @apply bg-gradient-to-r from-black via-black to-black/20;
  }
</style>
