---
import { getCollection } from 'astro:content';
import Root from '../layouts/Root.astro';
import ProjectCard from '@/components/ProjectCard.astro';

const projects = await getCollection('projects');
---

<Root
  title='Proyectos Destacado - @jeffercbs'
  description='Explorando Implementaciones Prácticas, Desafíos Superados y Resultados en un monto de proyectos'
>
  <main class='hero'>
    <div class='mt-24 mb-12 py-8'>
      <h1 class='font-bold text-4xl capitalize'>Todos las proyectos</h1>
    </div>
    <section class='project-container'>
      {projects.reverse().map((project) => <ProjectCard {...project} />)}
    </section>
  </main>
</Root>

<style>
  .project-container {
    @apply grid gap-5;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
</style>
