---
import { getI18n } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<section
  id="about"
  class="h-fit py-14 bg-gradient-to-b from-transparent via-black/70 to-black"
>
  <div class="hero flex md:flex-row gap-8 flex-col">
    <div class="md:w-2/5 w-full flex items-center justify-center px-6">
      <div
        class="p-4 relative h-[420px] rounded-lg border-2 border-gray-600 -rotate-3"
      >
        <img
          src="/avatar.webp"
          loading="lazy"
          width="320"
          height="420"
          class="rounded-lg size-full object-cover shadow-2xl shadow-white/10"
          alt="i am jeffercbs"
        />
      </div>
    </div>
    <div class="flex-1 flex md:flex-row flex-col gap-x-8 gap-y-4 my-4">
      <div
        class="flex flex-col flex-1 gap-y-4 md:order-1 order-2 [&>p]:text-[17px] [&>p]:text-pretty [&>p>em]:italic [&>p>strong]:font-mono [&>p>strong]:px-1 [&>p>strong]:text-yellow-100"
        set:html={i18n.ABOUT_DESC}
      />
    </div>
  </div>
</section>
