---
import { getCollection } from "astro:content";
import ProjectCard from "../ProjectCard.astro";
const projects = await getCollection("projects")
---

<section class="py-12 bg-black relative" id="projects">
  <div class="hero flex flex-col gap-y-4 mb-6">
    <h2
      aria-label="projects"
      class="text-2xl uppercase text-white/80 font-semibold"
    >
      Projects
    </h2>
  </div>
  <div class="flex flex-col gap-y-6 w-full md:max-w-6xl mx-auto mt-12">
    {projects.map(({data, slug}) => (
      <ProjectCard {...data} link={slug} />
    ))}
  </div>
</section>
