---
import { Icon } from "astro-icon/components";
export type Props = {
  variant?: "link" | "button";
  href: string;
  external?: boolean;
  icon?: string;
  class?: string;
  wfull?: boolean;
};
const {
  variant = "button",
  href,
  external = false,
  icon,
  wfull = false,
  class: classes,
} = Astro.props;
---

<a
  href={href}
  class:list={[
    classes,
    "flex justify-center items-center text-xs md:text-base gap-x-2 w-fit",
    { "w-full": wfull },
    { "w-fit": !wfull },
    {
      "bg-white/5 border border-white/10 rounded-full py-1 px-2 md:py-2 md:px-4 text-white/50 hover:bg-white/10":
        variant === "button",
    },
  ]}
  target={external ? "_blank" : null}
  rel={external ? "noopener noreferrer" : null}
>
  {icon && <Icon name={icon} class="size-6" />}
  <slot />
</a>
