---
type Props = {
  href: string;
  class?: string;
  name: string;
  disabled: boolean;
};

const { href, class: classes, name, disabled } = Astro.props;
const pathname = Astro.url.pathname;
---

<a
  href={href}
  class:list={[
    'opacity-90 hover:opacity-100',
    classes,
    { disabled: disabled },
    { active: href == pathname },
  ]}
  aria-label={name}
  aria-disabled={disabled}
>
  <span><slot /></span>
</a>

<style>
  a {
    @apply p-2 text-base ease-in-out relative capitalize rounded-lg;
  }
  .disabled {
    @apply opacity-50 pointer-events-none;
  }
  .active {
    @apply font-semibold opacity-100 bg-amber-100 text-amber-600;
  }
</style>
