---
import HeadingOfContent from '@/components/HeadingOfContent.svelte';
import Author from '@components/Author.astro';
import type { MarkdownHeading } from 'astro';
import { SEO } from 'astro-seo';
import type { CollectionEntry } from 'astro:content';
import Root from './Root.astro';
import '@/styles/prism-purple.css';

type Props = CollectionEntry<'blog' | 'pages'> & {
  headings: MarkdownHeading[];
};
const {
  data: { title, description, created, image = '/mockup.png' },
  headings,
} = Astro.props;
---

<head>
  <SEO
    charset='utf-8'
    openGraph={{
      basic: {
        title,
        type: 'website',
        image,
      },
      article: {
        publishedTime: created.toString(),
        authors: ['https://github.com/jeffercbs'],
      },
    }}
  />
</head>

<Root {title} {description}>
  <main class='hero lg:mt-20 mt-12'>
    <article>
      <slot name='heading' />
      <div class='separator'></div>
      <div class='flex md:flex-row flex-col relative hero'>
        <div class='entry prose prose-invert prose-p:p-0 -z-10 prose-h3:mt-0'>
          <slot />
        </div>
        <aside class='aside relative'>
          <Author {...Astro.props} />
          {
            headings.length > 0 ? (
              <HeadingOfContent {headings} client:only />
            ) : null
          }
        </aside>
      </div>
    </article>
  </main>
</Root>

<style>
  .entry {
    @apply flex-1 w-full max-w-none my-3;
    @apply flex flex-col md:px-10 px-0;
    @apply w-full break-words z-10;
  }
  .aside {
    @apply hidden md:flex md:flex-col;
    @apply max-w-sm w-[30%] h-fit;
    @apply md:sticky top-24;
  }
</style>
