---
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import { ViewTransitions } from 'astro:transitions';

import '@fontsource/poppins/100.css';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <BaseHead {title} {description} {image} />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      body,
      html {
        @apply bg-black scroll-smooth antialiased text-white relative box-border;
        font-family: 'Poppins', sans-serif;
      }
      .hero {
        @apply mx-auto w-full lg:max-w-7xl z-50 lg:px-0 px-3;
      }
      .b-image {
        @apply border;
        border-image-slice: 1;
        border-image-source: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.6) 100%
          ),
          round;
      }
      .separator {
        border-top-width: 1px;
        border-image-source: linear-gradient(to left, #000, #f3f4f6, #000);
        border-image-slice: 1;
        background-image: radial-gradient(
          at top center,
          rgba(243, 244, 246, 0.15),
          transparent 60%
        );
        height: 4rem;
      }
    </style>
  </body>
</html>
